---
---

// @import "bootstrap/functions";

$body-bg: #CDC42D;
// $body-color: #111;

// $primary: #111;

// @import "main";
@import 'bootstrap/bootstrap';

body {
  font-family: 'Roboto', sans-serif;

}

.dosis {
  font-family: 'Dosis', sans-serif;
}
