---
---
$body-bg: #CDC42D;

@import 'bootstrap/bootstrap';

body {
  font-family: 'Roboto', sans-serif;

}
h1 {
  font-family: 'Dosis', sans-serif;
}

h2 {
  font-family: 'Dosis', sans-serif;
}

h3 {
  font-family: 'Dosis', sans-serif;
}

h4 {
  font-family: 'Dosis', sans-serif;
}

.dosis {
  font-family: 'Dosis', sans-serif;
}
